{% extends 'main/layout.html' %}
{% block title %}

    <title>О моем проекте на Django</title>
{% endblock %}

{% block content %}
    <!--{% include 'main/nav.html' %} -->
    <h1 style="margin: 30px 0; color: #333;">О моем проекте на Django</h1>

    <p style="margin: 20px 0; line-height: 1.6;">
        Добро пожаловать на вторую страницу моего Django-проекта! Здесь я экспериментирую с созданием веб-приложений,
        используя мощный фреймворк Django на языке Python.
    </p>

    <p style="margin: 20px 0; line-height: 1.6;">
        Этот проект помогает мне углубить понимание веб-разработки, освоить работу с базами данных и улучшить навыки
        программирования на Python. Следите за обновлениями – скоро здесь появится больше интересных функций!
    </p>

{% endblock %}