{% extends 'main/layout.html' %}
{% block title %}

    <title>Мой второй проект на Django</title>
{% endblock %}

{% block content %}
    <!--{% include 'main/nav.html' %} -->
    <h1>Урок номер 2 по изучению фреймворка Django</h1>
    <div class="container">

        <h3 style="margin: 30px;">Добро пожаловать на мой Django-сайт!</h3>

        <p>Здесь я начинаю свое путешествие в мир веб-разработки с использованием Django.</p>

            <h2>Что такое Django?</h2>
            <p>Django - это мощный веб-фреймворк на языке Python, который позволяет быстро создавать безопасные и масштабируемые веб-приложения.</p>

            <h2>Мои цели:</h2>
            <ul>
                <li>Освоить основы Django</li>
                <li>Создать полнофункциональный веб-сайт</li>
                <li>Изучить лучшие практики веб-разработки</li>
            </ul>

            <p>Следите за обновлениями, скоро здесь появится больше интересного контента!</p>

            <div class="footer">
                <p>Спасибо, что заглянули на мой сайт. Давайте вместе исследовать возможности Django!</p>
        </div>
    </div>

{% endblock %}